<%- include("partials/header") %>
<%- include("partials/buttons") %>
<main>         
                <div class="container">
                   <h3 class="id"> Počet zákazníků: <%= data %></h3>    
                </div>
<%- include("partials/selectButtons") %>
<%- include("partials/footer") %>